@use '../abstracts/' as *;

// Layout and image handle
.flex {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 5rem;

	min-height: 535px;
	padding-inline: 0.64rem;
	border-radius: 23px;

	background-color: getColor(neutral, white);

	@include mq(medium) {
		min-height: 509px;

		overflow: hidden;
	}

	> * {
		flex: 1 1 100%;
		@include mq(medium) {
			flex: 1 1 calc(50% - 5rem);
		}
	}

	&__images {
		position: relative;
		pointer-events: none;
		max-width: 237px;
		z-index: 1;

		@include mq(small) {
			max-width: 300px;
		}

		transform: translate(0, -50%);
		@include mq(medium) {
			max-width: 471px;

			transform: translate(-15%, 0);
		}
		&::before {
			content: '';

			position: absolute;
			bottom: -90%;
			left: 50%;

			width: 100%;
			aspect-ratio: 1;

			background-image: url('../images/bg-pattern-mobile.svg');
			background-repeat: no-repeat;
			background-size: contain;

			transform: translateX(-50%);

			@include mq(medium) {
				bottom: -20%;
				left: 50%;

				min-width: 780px;
				height: auto;

				background-image: url('../images/bg-pattern-desktop.svg');
				background-size: contain;
				background-position: center right;

				transform: translate(-70%, 10%);
				z-index: -1;
			}
		}
	}

	&__faq {
		max-width: 370px;
		transform: translate(0, -15%);
		@include mq(small) {
			transform: translate(0, -25%);
		}
		@include mq(medium) {
			transform: translate(0);
			padding-inline-end: 5rem;
		}
	}
}

// Make inner class to position box
.box-postion {
	position: relative;
	width: inherit;
	height: inherit;
	@include mq(medium) {
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0%;
			width: 125px;
			aspect-ratio: 1;
			transform: translate(-50%, -38%);

			background-image: url('../images/illustration-box-desktop.svg');
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 3;
		}
	}
}

// FAQ styles

.flex__faq {
	&__heading {
		padding-block-end: 1.75rem;

		font-size: fontSizes(main-heading);
		text-align: center;
		@include mq(small) {
			text-align: left;
		}
	}

	&__item {
		border-bottom: 1px solid getColor(dividers, gray);
	}
}

.faq__item {
	&__header {
		display: flex;
		width: 100%;
		column-gap: 1rem;
		justify-content: space-between;

		padding-block: 1.125rem;

		&::after {
			content: url('../images/icon-arrow-down.svg');
			transform: rotate(0deg);
			transition: transform 0.3s ease-in-out;
		}
	}

	&__question {
		font-weight: $fw-400;
		font-size: fontSizes(default-mobile);
		@include mq(small) {
		}
	}

	&__content {
		height: 0;
		overflow: hidden;
		transition: height 0.3s ease-out;
		&--inner {
			padding-block-end: 0.8125rem;
			color: getColor(neutral, light);
		}
	}
}

// Animation

.flex__faq__item.is-open {
	.faq__item__header::after {
		transform: rotate(180deg);
		transition: transform 0.3s ease-in-out;
	}
	.faq__item__question {
		font-weight: $fw-700;
	}
}
