@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$ff-sans: 'Kumbh Sans', sans-serif;

$font-sizes: (
	default: 0.75rem,
	default-mobile: 0.8125rem,
	default-desktop: 0.875rem,
	main-heading: 2rem,
);

$fw-400: 400;
$fw-700: 700;
